{% load static %}
<footer class="footer">
  <div class='row'>

    <!--<div  class='mx-auto'>
       <span class="text-muted center">Terms of Service.</span>
       </div>-->

       <div  class='mx-auto'>
       <span class="text-muted center">This site is for University of Limerick Student created petitions</span>
       </div>

       <div  class='mx-auto'>
       <span class="text-muted center">Made for the UL Students Union by the UL Computer Society. <a href="https://skynet.ie/">www.skynet.ie</a></span>		  	
       </div>
  </div>

      <div = class="row">
        <div class="py-2 mx-auto offset-md-5">
          <img stlye= "margin: auto" height="100px" src="../../static/img/CompSoc_Logo_PNG.png"  title="Ul CompSoc Logo" />

        </div>
        <!--<div class="col-lg mx-md">
          <!-- Creating Space between images on large screens
        </div>-->
        <div class="py-2 mx-auto offset-md-5">
          <img stlye= "margin: auto" height="100px" src="../../static/img/UL_Student_Life_Logo_PNG.png"  title="Ul Student Life Logo" />
        </div>
      </div>

      <div = class="row align-middle">
        <div class="footer-copyright text-center py-2 mx-auto">
          <!-- Copyright -->
        © 2020 Copyright<br><a href="/legal.htm" class="legal">Terms of Service - Privacy Statement</a>
        </div>

   </div>
  </footer>
